<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="jquery.js" charset="utf-8"></script>
  <script src="script.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/style.css">
  
    <title>Student {{id}}</title>
  </head>
  <body>
  <div class="country">
    <h1> {{countryname}} </h1>
    <h2> {{capital}} </h2>
    <h2> {{continentname}} </h2>
   <!--  <h3> You have been to {{city}} in this country </h3>-->
     <a href="/countries/"> Go Back </a>
  </div>
    
  </body>
</html>