<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User Profile</title>
    <link rel="stylesheet" href="">
    <script src="/js/jquery.js"></script>
    <script src="/js/script.js"></script>
    <!-- <script src="http://maps.google.com/maps/api/js?sensor=false" 
          type="text/javascript"></script> -->
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgEVvTG0xMw0NEWoTy9kyOj1Fy7dcBD1Q" 
          type="text/javascript"></script>
          
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <main>
        <section>
            Welcome to your profile, {{user.email}}
            <div>


<input type="hidden" value="{{cities}}" id="hiddenm">
            <div>
                <a href="/users/logout">Logout</a>
            </div>
            
            <a href="/countries/"> All Countries </a> <br>
            <a href="/trips/"> My trips </a> <br>
            <a href="/wants/"> Places I want to go </a>
             <div id="map" style="width: 500px; height: 400px;"></div>

  <script type="text/javascript">

    var locations = document.getElementById("hiddenm").value.split(",")
     console.log(locations)
    var map = new google.maps.Map(document.getElementById("map"), {
      zoom: 1,
      center: new google.maps.LatLng(0, 0),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();          

    var marker, i;
    var geocoder= new google.maps.Geocoder();
    for (i = 0; i < locations.length; i++) {
        var newAddress;
        geocoder.geocode( { 'address': locations[i] }, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                newAddress = results[0].geometry.location;
                var latlng = new google.maps.LatLng(parseFloat(newAddress.lat()),parseFloat(newAddress.lng()));
                marker = new google.maps.Marker({
                    position:results[0].geometry.location,
                    map: map
                });
            }
        })
    }
  </script>
        </section>
    </main>
</body>

</html>
