<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive|Homemade+Apple|Kristi|La+Belle+Aurore" rel="stylesheet">
  <title>Login User</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
       <ul id="nav">
             
             <li class="nav"> <a href="/users/logout" class="navlink">Logout</a> </li>

             <li class="nav"> <a href="/wants/" class="navlink"> Places I want to go </a> </li>

             <li class="nav"> <a href="/countries/" class="navlink"> All Countries </a> </li>

             <li class="nav"> <a href="/trips/" class="navlink"> My trips </a> </li>  

             <li class="nav"> <a href="/users/profile" class="navlink">Home</a> </li> 
            
            </ul>
  <div class="box">
    <h1 id="underline">list of trips </h1>
  <ul>
  {{#trips}}
  	
     	<li> 
     	<a href="/trips/{{id}}">{{city}} </a> 
     	</li>
  {{/trips}}
   </ul>
  <div class="buttonBox">
   <a href="/trips/new">Create New! </a> <br>
   </div>
  </div>

</body>
</html>
